@media (min-width: 320px) and (max-width: 450px){
    .position_box{
        position: fixed;
        top: 55px; /* navibar 가 50px이므로 그것보다 살짝더 크게한것  */
        left: 5px;
        z-index: 2;
    }
    
    .MyPositionBtn{
        width: 40px;
        height: 40px;
        outline: 0;
        background-color: white;
        background-image: url('../Images/curpoint.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px 20px 20px 20px;
    }
    .MyPositionBtn:hover{
        cursor: pointer;
    }

    /* 시작 Modal 창 관련 */
    .ant-modal-content {
        width: 85%;
        height: max-content;
        margin-left: auto;
        margin-right: auto;
    }
    .ant-modal-content-header{
        font-size: 20px;
        font-weight: bold;
    }
    .ant-modal-content-content{
        font-size: 15px;
    }
    .anticon-close{
        display: none;
    }
    .swal-modal{
        width: 320px;
    }
    .swal-text{
        font-size: 15px;
    }
    .button2 {
        display: inline-block;
        width: 130px;
        height: 54px;
        text-align: center;
        text-decoration: none;
        line-height: 54px;
        outline: none;
        font-size: 17px;
    }
    .button2::before,
    .button2::after {
        position: absolute;
        z-index: -1;
        display: block;
        content: '';
    }
    .button2,
    .button2::before,
    .button2::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    .button2 {
        display: block;
        position: relative;
        z-index: 2;
        background-color: #333;
        border: 2px solid #333;
        color: #fff;
        line-height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .button2:hover {
        background-color: #fff;
        border-color: #c3d37d;
        color: #c3d37d;
        cursor: pointer;
        font-size: 17px;
    }
    .button2::before,
    .button2::after {
        top: 0;
        width: 50%;
        height: 100%;
        background-color: #333;
    }
    .button2::before {
        right: 0;
    }
    .button2::after {
        left: 0;
    }
    .button2:hover::before,
    .button2:hover::after {
        width: 0;
        background-color: #c3d37d;
    }
    
}

@media (min-width: 450px) {
    .position_box{
        position: fixed;
        top: 55px; /* navibar 가 50px이므로 그것보다 살짝더 크게한것  */
        left: 5px;
        z-index: 2;
    }
    
    .MyPositionBtn{
        width: 40px;
        height: 40px;
        outline: 0;
        background-color: white;
        background-image: url('../Images/curpoint.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 25px 25px 25px 25px;
    }
    .MyPositionBtn:hover{
        cursor: pointer;
    }
    
    @keyframes Rotate {
        from {
            margin-left: 0ch;
        }
        to{
            margin-left: 100px;
        }
    }
    .MyIcon {
        animation: Rotate 1s infinite;
    }
    .ant-modal-content-content{
        font-size: 18px;
    }
    .ant-modal-content-header{
        font-size: 30px;
    }
    .ant-modal-content {
        width: 400px;
        height: max-content;
    }
    .anticon-close{
        display: none;
    }
    .swal-modal{
        width: 520px;
    }
    .swal-text{
        font-size: 20px;
    }
    .button2 {
        display: inline-block;
        width: 200px;
        height: 54px;
        text-align: center;
        text-decoration: none;
        line-height: 54px;
        outline: none;
        font-size: 17px;
    }
    .button2::before,
    .button2::after {
        position: absolute;
        z-index: -1;
        display: block;
        content: '';
    }
    .button2,
    .button2::before,
    .button2::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    .button2 {
        display: block;
        position: relative;
        z-index: 2;
        background-color: #333;
        border: 2px solid #333;
        color: #fff;
        line-height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .button2:hover {
        background-color: #fff;
        border-color: #c3d37d;
        color: #c3d37d;
        cursor: pointer;
        font-size: 17px;
    }
    .button2::before,
    .button2::after {
        top: 0;
        width: 50%;
        height: 100%;
        background-color: #333;
    }
    .button2::before {
        right: 0;
    }
    .button2::after {
        left: 0;
    }
    .button2:hover::before,
    .button2:hover::after {
        width: 0;
        background-color: #c3d37d;
    }
    
}
